<%- include("partial/header") %>
    <aside>
        <h2>Result Dashboard</h2>
        <section id="aside-first-section" class="container mt-4">
            <div class="row gap-2">
                <div class="col-sm col-md col-md bg-dark summary-result shadow bg-white d-flex justify-content-evenly">
                    <i class="fa-solid fa-pencil"></i>
                    <div class="result-description">
                        <h5>Registered Voters</h5>
                        <p>Total number of registerd voters.</p>
                    </div>
                    <p id="voters-count" class="counts">
                        <%= voters_count %>
                    </p>
                </div>
                <div class="col-sm col-md col-md bg-dark summary-result shadow bg-white d-flex justify-content-evenly">
                    <i class="fa-solid fa-scale-balanced" style="color: #FFD43B;"></i>
                    <div class="result-description">
                        <h5>Total Votes</h5>
                        <p>Total number of votes.</p>
                    </div>
                    <p id="votes-count" class="counts">0</p>
                </div>
            </div>
        </section>
        <section class="aside-second-section container">
            <h2 id="chairman">Chairman</h2>
            <div class="row row-cols-auto gap-2">
                <% candidates_list.forEach(candidate => { %>
                    <div class=" col chairman-boxes card bg-white shadow" style="width: 14rem;">
                        <div class="card-body chairman-parent-box">
                            <img src="/public/images/photo.jpg" alt="candidate Image" class="chairman-img">
                            <p class="card-text"><%= candidate.firstname %> <%= candidate.middlename %> <%= candidate.lastname %></p>
                            <a href="#" class="card-link">Card link</a>
                            <a href="#" class="card-link">Another link</a>
                        </div>
                    </div>
                <% }) %>
            </div>
        </section>
    </aside>
    <%- include("partial/footer") %>